<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
>
<head>
    <title>EventosApp</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link href="materialize/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link href="style/styleCss.css" rel="stylesheet"/>
</head>
<body>

<header>
    <nav class="menu">
        <div class="nav-wrapper">
            <a class="brand-logo" href="#">Evento</a>
            <ul class="right hide-on-med-and-down" id="nav-mobile">
                <li><a class="waves-effect waves-light btn" href="/eventos"><i class="material-icons left">add_circle_outline</i>Lista
                    de evento</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container detalhesEvento" th:each="evento : ${evento}">
    <h5>Detalhes do Evento</h5>
    <div class="row">
        <p>Nome: <span th:text="${evento.nome}"></span></p>
        <p>Local: <span th:text="${evento.local}"></span></p>
        <p>Data: <span th:text="${evento.data}"></span></p>
        <p>Horario: <span th:text="${evento.horario}"></span></p>
    </div>
</div>

<th:block th:include="mensagemValidacao"></th:block>
<div class="container formConvidado">
    <form method="post" th:object="${convidado}">
        Nome: <input name="nomeConvidado" placeholder="Nome Completo" type="text" value=""/>
        Rg: <input class="validate" name="rg" placeholder="AA-00.000.000" type="text" value=""/>
        <button class="waves-effect waves-light btn" type="submit">Adicionar</button>
    </form>
</div>

<table class="container tabelaConvidado">
    <thead>
    <tr>
        <th>Nome Convidado</th>
        <th>RG</th>
        <th>Deletar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="convidado : ${convidados}">
        <td><span th:text="${convidado.nomeConvidado}"></span></td>
        <td><span th:text="${convidado.rg}"></span></td>
        <td><a class="waves-effect waves-light btn-small"
               th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}"><i
                class="material-icons left">delete</i></a></td>
    </tr>
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="materialize/js/materialize.min.js" type="text/javascript"></script>

</body>


</html>