<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
>
<head>
    <title>EventosApp</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link href="materialize/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="style/styleCss.css" rel="stylesheet"/>
</head>
<body>

<header>
    <nav class="menu">
        <div class="nav-wrapper">
            <a class="brand-logo" href="#">Cadastro de Eventos:</a>
            <ul class="right hide-on-med-and-down" id="nav-mobile">
                <li><a class="waves-effect waves-light btn" href="/eventos"><i class="material-icons left">format_list_bulleted</i>Lista
                    de Eventos</a></li>
            </ul>
        </div>
    </nav>

</header>


<th:block th:include="mensagemValidacao"></th:block>
<div class="container formEvento">

    <form class="container" method="post">
        Nome: <input name="nome" type="text" value=""/>
        <div class="row">
            <div class="input-field col s6">
                Local: <input name="local" type="text" value=""/>
            </div>
            <div class="input-field col s3">
                Data: <input name="data" type="date" value=""/>
            </div>
            <div class="input-field col s3">
                Horario: <input name="horario" type="time" value=""/>
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Salvar</button>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="materialize/js/materialize.min.js" type="text/javascript"></script>
</body>


</html>